/* Primer contenedor de la pagina de inicio, aqui se encuentra el texto Materializamos... con la imagen del hombre y las gafas AR */

#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
  background:url('../img/home-background.jpg');
  background-size:100% 100%;
}

.container-fluid {
  max-width: 1200px;
  height:200px;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.parallax-window {
  background: transparent;
}

#lineas{
	position:fixed;
	display:block;
	width:500px;
	height:700px;
	top:0px;
	left:50%;
	z-index:-1;
}

.triangulo{
	position:fixed;
	top:140px;
	left:48%;
	width:343px !important;
	height:366px !important;
}

/* Imagen hombre con gafas AR y su respectiva animacion /*/

.back-home{
	width:343px;
	height:366.91px !important;	
	position:fixed;
	left:36%;
	bottom:0px;
	-webkit-animation: anim 10s infinite; /* Safari 4+ */
    -moz-animation:    anim 10s infinite; /* Fx 5+ */
    -o-animation:      anim 10s infinite; /* Opera 12+ */
    animation:         anim 10s infinite; /* IE 10+, Fx 29+ */
	z-index:0;
}

.arrow-down-white{

	position:absolute;
	bottom:40px;
	right:50px;
	width:34px;
	height:17px;
	background:url(../img/arrow-down-white.png);
}

.arrow-down-white:hover{
	width:36px;
	height:19px;
	background:url(../img/arrow-down-white.png);
	background-size:100% 100%;
}

.arrow-down-blue{

	position:absolute;
	bottom:40px;
	right:50px;
	width:34px;
	height:17px;
	background:url(../img/arrow-down-blue.png);
}

.arrow-down-blue:hover{
	width:36px;
	height:19px;
	background:url(../img/arrow-down-blue.png);
	background-size:100% 100%;
}

@-webkit-keyframes anim {
  0%   { top: 150px;left:48%; }
  30%   { top: 160px;left:48.5%; }
  60%   { top: 166px;left:49%; }
  80%   { top: 160px;left:48.5%; }
  100% { top: 150px;left:48%; }
}
@-moz-keyframes anim {
	0%   { top: 150px;left:48%; }
	30%   { top: 160px;left:48.5%; }
	60%   { top: 166px;left:49%; }
	80%   { top: 160px;left:48.5%; }
	100% { top: 150px;left:48%; }
}
@-o-keyframes anim {
	0%   { top: 150px;left:48%; }
	30%   { top: 160px;left:48.5%; }
	60%   { top: 166px;left:49%; }
	80%   { top: 160px;left:48.5%; }
	100% { top: 150px;left:48%; }
}
@keyframes anim {
	0%   { top: 150px;left:48%; }
	30%   { top: 160px;left:48.5%; }
	60%   { top: 166px;left:49%; }
	80%   { top: 160px;left:48.5%; }
	100% { top: 150px;left:48%; }
}

/* Texto de materializamos ideas */


.home{
    font-family: 'Myriad Pro Bold';
	position:fixed;
	top:200px;
	width:500px;
	left:20%;
	font-size:200%;
	font-weight:bold;
	color:#6cb3e5;
	line-height: 1em;
}

.home span{
	
	color:#B5C9F7;
	
}

/* Secciones */

.section1{
	position:relative;
	width:100%;
	background:white;
	padding:30px;
}

.section2{
	position:relative;
	width:100%;
	background:url('../img/bg2.jpg');
	background-size:100% 100%;
	padding:30px;
}

.section3{
	
	width:100%;
	height:560px;
	background:#fff;
	padding-top:100px
	
}
/* Titulo de las secciones */

.titleSection1{
	position:relative;
	margin-top:50px;
	margin:30px;
	font-family: 'Myriad Pro Bold';
	font-size:300%;
	font-weight:bold;
	line-height:1.1;
	color:#253858;
}

.titleSection2{
	position:relative;
	font-family: 'Myriad Pro Bold';
	font-size:300%;
	font-weight:bold;
	letter-spacing:6px;
	line-height:1.1;
	color:#47bcf1;
	margin:30px;
}

/* Texto de las secciones */

.textSection2{
	font-size:140%;
	font-family:"Myriad Pro Light";
	position:relative;
	margin-top:10px;
	margin-left:10px;
	margin-right:80px;
	width:40%;
	display:inline-block;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:60px;
	letter-spacing:0px;
	color:#41577C;
	text-align:left;
	top:-30px;
}

.textSection2 span{
	font-family:"Myriad Pro Bold";
	color:#253858;
}

#c_img1Section2{
	position:relative;
	width:50%;
	margin-top:20px;
	display:inline-block;
	text-align:right;
}

#c_img2Section2{
	position:relative;
	width:54%;
	top:-140px;
	display:inline-block;
	text-align:left;
	padding-left:20px;
}

.textSection2_2{
	font-size:136%;
	font-family:"Myriad Pro Light";
	position:relative;
	margin-top:100px;
	width:30%;
	display:inline-block;
	padding-left:40px;
	letter-spacing:0px;
	color:#41577C;
	text-align:left;
}

.textSection2_2 span{
	font-family:"Myriad Pro Bold";
	color:#253858;
}

.textSection2_2 a{
	font-size:70%;
	font-family:"Myriad Pro Bold";
	color:#51B8EE;
	font-weight:bold;
	letter-spacing:8px;
}

.textSection3{
	font-family:"Myriad Pro Bold";
	margin-left:15%;
	font-size:120%;
	line-height:1.4;
	letter-spacing:8px;
	color:#41577C;
}

.textSection3 span{
	color:#47bcf1;
}


/*  ITems servicios */

.img_servicios{
	position:relative;
	left:0px;
    cursor:pointer;
    width:200px;
}


.img_servicios:hover{
	position:relative;
	animation: img_servicios_anim 1s linear; 
	-webkit-animation: img_servicios_anim 1s linear; 
	-moz-animation: img_servicios_anim 1s linear;   
	-o-animation: img_servicios_anim 1s linear; 
	animation-fill-mode: forwards;
}

@keyframes img_servicios_anim {
	0% {left:0px;width:200px;}
	30% {left:-10px;width:220px;}
	50% {left:-5px;width:210px;}
	100% {left:-5px;width:210px;}
}


.item_servicios{
    position:relative;
    width:200px;
	height:200px;
    text-align:left;
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
}

.div{
    position:relative;
    display:inline-block;
	width:2px;
	height:120px;
	top:-60px;
	background-image:url('../img/div.png');
	background-size:100% 100%;
	z-index:1;
}

#c_indicadores{
	width:100%;
	height:330px;
	padding-bottom:80px;
}

.item_servicios_container{
    position:absolute;
    width:200px;
	height:200px;
    text-align:center;
    display:inline-block;
}

/*  ITems indicadores */

.item_indicadores{
    position:relative;
    width:180px;
    text-align:center;
    display:inline-block;
}

.sliderContainer{
	position:relative;
	margin:90px;
	margin-top:10px;
	margin-bottom:20px;
	overflow:hidden
}

.sliderLogos{
	display: flex;
	padding: 0;
	width:94%;
}

.sliderLogos img{
	display:inline-block;
	width:90px;
	margin-left:30px;
}

.logosInternacional{
	position:relative;
	margin:90px;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
}

.logosInternacional img{
	display:inline-block;
	width:200px;
	margin-left:30px;
}

.arrow-right{
	position:relative;
	top:4px;
	width:40px;
	height:20px;
	background:url('../img/arrow-right.png');
	background-size:100% 100%;
	display:inline-block;
}

#items_servicios{
	position:relative;
	margin-top:50px;
	width:90%;
	margin:auto;
	text-align:center;
	height:230px
}

@media (max-width: 500px){

	.item_servicios{
		margin-left:0px;
	}

.triangulo{
		position:absolute;
		top:-40px;
		left:10%;
		width:360px !important;
		height:400px !important;
	}

.back-home{
	
	position:fixed;
	width:360px;
	height:400px !important;
	padding-top:64px;
	left:30%;
	bottom:0px;
	-webkit-animation: anim 10s infinite; /* Safari 4+ */
    -moz-animation:    anim 10s infinite; /* Fx 5+ */
    -o-animation:      anim 10s infinite; /* Opera 12+ */
    animation:         anim 10s infinite; /* IE 10+, Fx 29+ */
	z-index:0;
}


@-webkit-keyframes anim {
	0%   { top: 20px;left:5%; }
	30%   { top: 30px;left:5.5%; }
	60%   { top: 36px;left:6%; }
	80%   { top: 30px;left:5.5%; }
	100% { top: 20px;left:5%; }
  }
  @-moz-keyframes anim {
	0%   { top: 20px;left:5%; }
	30%   { top: 30px;left:5.5%; }
	60%   { top: 36px;left:6%; }
	80%   { top:30px;left:5.5%; }
	100% { top: 20px;left:5%; }
  }
  @-o-keyframes anim {
	0%   { top: 20px;left:5%; }
	30%   { top: 30px;left:5.5%; }
	60%   { top: 36px;left:6%; }
	80%   { top: 30px;left:5.5%; }
	100% { top: 20px;left:5%; }
  }
  @keyframes anim {
	0%   { top: 20px;left:5%; }
	30%   { top: 30px;left:5.5%; }
	60%   { top: 36px;left:6%; }
	80%   { top: 30px;left:5.5%; }
	100% { top: 20px;left:5%; }
  }
  
  .home{
    font-family: 'Myriad Pro Bold';
	position:relative;
	top:320px;
	width:500px;
	left:20%;
	font-size:200%;
	font-weight:bold;
	color:#6cb3e5;
	line-height: 1em;
	
}

  #section1{
	 height:1200px;
  }

  #items_servicios{
	position:relative;
	margin-top:50px;
	width:400px;
	margin:auto;
	text-align:center;
	height:1000px;
}
.div{
	display:none;
}

.textSection2{
	width:90%;
	padding-left:5px;
	font-size:100%;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:40px;
	margin-left:10px;
	margin-right:10px;
	top:0px;
}
.titleSection2{
	font-size:250%;
}

#c_img1Section2{
	position:relative;
	width:100%;
	display:inline-block;
	text-align:right;
	min-height:200px;
	top:0px;
}

#c_img2Section2{
	position:relative;
	width:100%;
	display:inline-block;
	text-align:left;
	margin-top:20px;
	min-height:200px;
	margin-bottom:0px;
	top:0px;
	padding-left:0px;
}

.textSection2_2{
	top:0px;
	width:100%;
	padding-left:8px;
	font-size:100%;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:40px;
	margin-top:20px;
}

#c_indicadores{
	width:100%;
	height:900px;
	padding-bottom:80px;
}
}