@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('../webfonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold'), url('../webfonts/MYRIADPRO-BOLD.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Light';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Light'), url('../webfonts/MyriadPro-Light.woff') format('woff');
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: 'Myriad Pro Regular';
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
  background:#113458;
  padding-bottom:0px;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.btn-menu a{
	color:#ADD8F0;
}

.btn-menu a:hover{
	color:white;
}

.btn-menu-b a{
	color:#47bcf1;
}

.btn-menu-b a:hover{
	color:#004A7E;
}

.active a{
	font-weight:bold;color:white;
}

.active-b a{
	font-weight:bold;color:#004A7E;
}

/* Header (Menu superior)  */

.header{
	position:fixed;
	display:inline-block;
	top:0px;
	width:100%;
	z-index:1;
	height:60px;
	padding:10px;
	padding-bottom:10px;
	text-align:right;
}

.logo{
	
	position:absolute;
	left:20px;
	top:20px;
	
}

.buttons-header{
	
	font-family: 'Myriad Pro Light';
	color:#ADD8F0;
	width:100%;
	margin:auto;
	margin-top:0px;
	padding-left:20px;
	text-align:right;
}

.buttons-header a{
	font-family: 'Myriad Pro Light';
}

#btn1{
	
	width:120px;
	position:relative;
	display:inline-block;
	letter-spacing:4px;
	text-align:center;
	margin-left:40px;
	top:-6px;
	font-size:70%;
}

#btn2{
	
	width:120px;
	position:relative;
	display:inline-block;
	letter-spacing:4px;
	text-align:center;
	top:-6px;
	font-size:70%;
}
 
 
#btn3{
	
	width:120px;
	position:relative;
	display:inline-block;
	letter-spacing:4px;
	text-align:center;
	top:-6px;
	font-size:70%;
}


.btn-div {
	width:40px;
	position:relative;
	display:inline-block;
	text-align:center;
	top:-6px;
	font-size:70%;
}
 

#btn4{
	
	width:120px;
	position:relative;
	display:inline-block;
	letter-spacing:4px;
	text-align:center;
	top:-6px;
	font-size:70%;
}

/* Seccion del footer /*/
#footerSection {
  height:400px;
  margin:0px;
  margin-bottom:0px;
  background:#153355;
}


#infoFooter{
	padding-top:70px;
	height:380px;
	
}

.logoFooter{
	position:relative;
	left:40%;
	top:10px;
	}

#footer{
	bottom:4px;
	background:6b6b6b;
}

#footer p{
	font-family:'Myriad Pro Regular';
	font-size:80%;
	color:white;
	font-weight:normal;
}

.cuadroInfo1{
	position:relative;
	width:70%;
	height:200px;
	left:10%;
	color:white;
	border-right:1px solid white;
}

.cuadroInfo2{
	
	width:80%;
	height:200px;
	color:white;
}

.titleContactFooter{
	font-weight:bold;
	color:#A9CDE1;
}

.itemContactFooter{
	font-weight:normal;
	color:#A7BAC2;
	font-size:80%;
}

#social{
	position:relative;
	left:40%;
	width:200px;
	height:40px;
	margin-top:50px;
	color:white;
}

.socialContent{
	position:relative;
	width:60%;
	margin:auto;
}

.svg-inline--fa{
	width:20px;
	height:20px;
	color:#eee;
	cursor:pointer;
}

.svg-inline--fa:hover{
	width:22px;
	height:22px;
	color:#fff;
	cursor:pointer;
}

.parqueContent{
	position:relative;
	width:80%;
	margin:auto;
}

.logoParquesoft{
	position:relative;
	margin:auto;
	margin-top:40px;
}
	
.linkFooter{
	width:100px;
	color:#A7BAC2;
}
.linkFooter:hover{
	color:#fff;
}